:root {
    --main-text-color: #fc3a3a;
	--theme-color-1: #627aa2;
}

body {
	background-color: #f4f4f4;
}

h1.jumbotron-heading {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 7.5em;
}

.jumbotron {
    background: url("background.jpg") no-repeat center top;
    margin-bottom: 0rem;
    background-attachment: fixed;
    height: 70vh;
}

.jumbotron p.lead {
    color: var(--main-text-color);
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-pills {
	background-color: white;
}


.nav-pills>li>a {
	padding:20px;
	width: 200px;
	text-align:center;
	vertical-align:middle !important;
	border-radius:0px !important;
	font-family:'Rubik', sans-serif;
	font-size:14px;
	font-weight:700;
	color: var(--main-text-color);
	text-transform: uppercase;
	transition: 0.3s;
}

.nav-pills>li>a.active {
	background-color: var(--theme-color-1) !important;
	color:white !important;
}

.nav-pills>li>a:hover {
	color:white;
	background-color: var(--theme-color-1);
}

#main-text {
	font-family: 'EB Garamond', serif;
	font-size: 30px;
	overflow-wrap:break-word;
	text-align:center;
	padding-top: 75px;
}

#main-text a {
	color:var(--theme-color-1);
}

a#read-more {
	border: 2px solid var(--main-text-color);
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	color:black;
	text-decoration: none;
	font-size: 28px;
	font-weight: 700;
	transition: 0.3s;
}

#read-more:hover {
	background-color: var(--main-text-color);
	color:white;
}

#buttons a {
	font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    color: black;
    font-weight: 700;
    font-size: 2em;
	text-align: center;
	display: block;
}

.page-footer {
	background-color: black;
	color:white;
	margin-top: 75px;
	padding: 20px;
}

.page-footer img.logo {
	width: 100px;
	padding-right:20px;
}

.page-footer p {
	font-family:Rubik, sans-serif;
	letter-spacing:2px;
	font-size:10px;
	line-height:16px;
}

.page-footer p.license {
	margin-top:20px;
}


/* sub-pages */

#long-text {
	font-size: 1.5em;
	font-family: 'EB Garamond', serif;
	overflow-wrap:break-word;
	padding-top:5em;
}

#long-text h1 {
	text-align: center;
	font-weight: 700;
	font-size: 2em;
	padding-bottom: 1em;
}

#long-text h2 {
	/* text-align: center; */
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 1em;
}

#long-text p.authors {
	font-style: italic;
	margin-bottom: 1em;
}
